/*
THIS FILE IS USED TO RESET THE STYLE EVERY TIME THE INDEX.HTML FILE IS LOADED FROM THE BROWSER.
THIS STYLE IS A TRADEMARK FOR THE BEE TECHNOLOGIES COMPANY LTD. WEBSITE
RESET STYLE CSS
*/

/*RESET HTML*/

body{
    background-color: black;
}

:root {
    --bee-yellow: #f69e00;
}

/*MY STYLE WILL BE CODE HERE*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/



/******** NAVIGATION BAR **********************************************************/

.bg-light{
    /*background-image: linear-gradient(#F69E00,#F69E00,#F69E00,#F69E00,#F69E00,#F69E00,#F69E00,#F69E00, #343434) !important; */
    /*    background-image: linear-gradient(to right,#F69E00, #343434) !important; */

    background-color: var(--bee-yellow) !important;
    border-radius: 7px;
}

.navbar {
    z-index: 10;
    width: -webkit-fill-available;
}
.navbar-brand {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 20px;
    
}

nav div ul li {
    align-items: center;
}

nav div ul li a {
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;

}

.active {
    border-bottom: #333333 solid 2px !important;
    border-top: #333333 solid 2px !important;
    border-radius: 6px;
}

.navbar-light .navbar-nav>li:hover {
    border-bottom: #333333 solid 2px !important;
    border-top: #333333 solid 2px !important;
    border-radius: 6px;
    transition: 0.3s;
}


.navbar-light .navbar-nav>li>a:hover {
    color:black !important;
    transition: 0.3s;    
}

.main-nav a {
    margin-right: 30px;
}

/******** Image Slider **********************************************************/
.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    width:100%;
    height: calc(100vh - 81px);
    border-radius: 7px;
}

.carousel-caption {
    margin-bottom: 35vh;
    border-radius: 10px;
}

.carousel-caption h3 {
    color: white;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 70px;
    
}
.carousel-caption p {
    color: #ededed;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 45px;

}

.carousel-indicators {
    z-index: 1;
}

.carousel-indicators li {
    background-color: var(--bee-yellow) !important;
}

.carousel-indicators .active {
    background-color: black!important;
    outline: solid 2px var(--bee-yellow);
}

.drk:after {
    content:"";
    display:block;
    position: absolute;
    top: 0;
    bottom: -2px;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
}

.carousel-caption a {
    text-align: center;;
}
.btn-primary {
    background-color: var(--bee-yellow);
    color: #232323;
    border-radius: 8px;
    border-color: #232323;
    width: 20%;
    padding: 10px 0;
    font-size: inherit;
    font-weight: bold;
    font-family: Quicksand;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color:#222222 !important;
    color: var(--bee-yellow) !important;
    border-radius: 8px;
    border-color: var(--bee-yellow) !important;
    width: 20%;
    padding: 10px 0;
    font-size: inherit;
    font-weight: bold;
    font-family: Quicksand;
    outline: inherit 1px var(--bee-yellow)  !important;
    box-shadow: 0 0 3pt 2pt var(--bee-yellow) !important;
}

/******** TOGGLER ICON ANIMATION **********************************************************/

.animated-icon1{
    width: 30px;
    height: 20px;
    position: relative;
    padding: 12px !important;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: black;
    }

    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2),
    .animated-icon1.open span:nth-child(2):focus {
    opacity: 0;
    left: -60px;
    outline: none;
    box-shadow: none;
    background-color: none !important;
    border: none;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }

/******** PARTCILES JS **********************************************************/

#particles-js{
    background-color: #232323;
    width:100%;
    height: calc(100vh - 81px);
    border-radius: 7px;
}




/*---Media Queries --*/
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    .carousel-caption h3 {
        font-size: 30px;
    }
    .carousel-item a,
    .carousel-item a:hover,
    .carousel-item a:active,
    .carousel-item a:focus  {
        width: 40%;
    }
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
