/*THIS FILE IS USED TO RESET THE STYLE EVERY TIME THE INDEX.HTML FILE IS LOADED FROM THE BROWSER.THIS STYLE IS A TRADEMARK FOR THE BEE TECHNOLOGIES COMPANY LTD. WEBSITERESET STYLE CSS*/
/*RESET HTML*/
* {
	-webkit-overflow-scrolling: touch;
}
p::selection{
	background-color: #f69e00;
}
html {
	scroll-behavior: smooth;
	margin: 0;
}
body{
	background-color: #F2AA4CFF;
	width:100%;
	overflow-x: hidden;
}
:root {
	--bee-yellow: #f69e00;
	--bee-black:#101820FF;
	--bee-orange:#F2AA4CFF;
}
hr{
	background-color: var(--bee-black);
	padding: 0;
	padding-left: 5%;
	margin:0;
}
/*MY STYLE WILL BE CODE HERE*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*---Scroll to Top Button----------------------------------------------*/
#scrtopbtn {
	display: none;
	position: fixed;
	top: 90vh;
	right: 15px;
	z-index: 9999;
	font-size: 30px;
	border: none;
	outline: none;
	background-color: #343434;
	color: white;
	cursor: pointer;
	padding: 5px 7px 12px 7px;
	border-radius: 200px;
}
#scrtopbtn:hover {
	background-color: #555;
}
/*---One Mouse scroll to section----------------------------------------------
.scroll {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	max-height:100vh;
  }
.sc {
	scroll-snap-align: end;
  }
*/
/******** NAVIGATION BAR **********************************************************/
.bg-light{
	/*background-image: linear-gradient(#F69E00,#F69E00,#F69E00,#F69E00,#F69E00,#F69E00,#F69E00,#F69E00, #343434) !important;
	*/
	/* background-image: linear-gradient(to right,#F69E00, #343434) !important;
	*/
	background-color: transparent !important;
	border-radius: 7px;
}
.navbar {
	z-index: 10;
	width: -webkit-fill-available;
}
.navbar-brand {
	font-family: Quicksand;
	font-weight: bold;
	font-size: 22px;
	color:var(--bee-black)!important;
}
nav div ul li {
	align-items: center;
}
nav .nav-link {
	font-family: Quicksand;
	font-size: 18px;
	font-weight: 700;
	margin-left: 30px;
	color:var(--bee-black)!important;
}
.active {
	border-bottom: #333333 solid 2px;
	border-top: #333333 solid 2px;
	transition: ease-in-out 0.5s;
}
.noactive {
	border-bottom: transparent solid 2px;
	border-top: transparent solid 2px;
	transition: ease-in-out 0.5s;
}
.noactive:hover {
	border-bottom: #333333 solid 2px;
	border-top: #333333 solid 2px;
}


/*
.navbar-light .navbar-nav>li:hover {
	border-bottom: #333333 solid 2px !important;
	border-top: #333333 solid 2px !important;
	transition: 0.3s;
}

.navbar-light .navbar-nav>li {
	border-bottom: transparent solid 2px !important;
	border-top: transparent solid 2px !important;
}

.navbar-light .navbar-nav>li:hover + #home {
	border: transparent !important;
}
*/

.main-nav a {
	margin-right: 30px;
}
/******** Image Slider **********************************************************/
.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
	height: calc(100vh - 81px);
	border-radius: 7px;
	background-color: #ededed;
}
.carousel-caption {
	margin-bottom: 35vh;
	border-radius: 10px;
}
.carousel-caption h3 {
	color: white;
	font-family: Quicksand;
	font-weight: 700;
	font-size: 60px;
	letter-spacing: 1vw;
	word-spacing: 1vw;
	text-shadow: antiquewhite 1px 1px 3px;
}
.carousel-caption p {
	color: #ededed;
	font-family: Quicksand;
	font-weight: 500;
	font-size: 45px;
}
.carousel-indicators {
	z-index: 1;
}
.carousel-indicators li {
	background-color: var(--bee-yellow) !important;
}
.carousel-indicators .active {
	background-color: black!important;
	outline: solid 2px var(--bee-yellow);
}
.drk:after {
	content:"";
	display:block;
	position: absolute;
	top: 0;
	bottom: -2px;
	left: 0;
	right: 0;
	background-color: black;
	opacity: 0.45;
}
.carousel-caption a {
	text-align: center;
	;
}
.btn-primary {
	background-color: var(--bee-yellow);
	color: var(--bee-black);
	border-radius: 8px;
	border-color: #232323;
	width: fit-content;
	padding: 10px 20px;
	font-size: inherit;
	font-weight: bold;
	font-family: Quicksand;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus {
	background-color:var(--bee-black) !important;
	color: var(--bee-yellow) !important;
	border-radius: 8px;
	border-color: var(--bee-yellow) !important;
	font-size: inherit;
	font-weight: bold;
	font-family: Quicksand;
	outline: inherit 1px var(--bee-yellow) !important;
	box-shadow: 0 0 3pt 2pt var(--bee-yellow) !important;
}
/******** Testing **********************************************************/
#intro {
	background-color: transparent;
	background-image:url(img/clip-1.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 80% 100%;
	background-position: 0%;
	height: calc(100vh - 377px);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	background-blend-mode: darken;
    background-repeat: no-repeat;
}
.landing h1,h3{
	color:white;
	font-size: 3.0vw;
	font-family: Quicksand;
}
.landing h3{
	font-size: 1.2vw;
	font-family: monospace;
	font-weight: 600;
}
.landing .col-md-4 {
	flex: none;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
.landing .col-6 {
	flex: none;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
#PopupSignupForm_0 {
	z-index: 99999;
	position: relative;
}
/******** TOGGLER ICON ANIMATION **********************************************************/
.animated-icon1{
	width: 30px;
	height: 20px;
	position: relative;
	padding: 12px !important;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .7s ease-in-out;
	-moz-transition: .7s ease-in-out;
	-o-transition: .7s ease-in-out;
	transition: .7s ease-in-out;
	cursor: pointer;
}
.animated-icon1 span{
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.animated-icon1 span {
	background: black;
}
.animated-icon1 span:nth-child(1) {
	top: 0px;
}
.animated-icon1 span:nth-child(2) {
	top: 10px;
}
.animated-icon1 span:nth-child(3) {
	top: 20px;
}
.animated-icon1.open span:nth-child(1) {
	top: 11px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.animated-icon1.open span:nth-child(2),.animated-icon1.open span:nth-child(2):focus {
	opacity: 0;
	left: -60px;
	outline: none;
	box-shadow: none;
	background-color: none !important;
	border: none;
}
.animated-icon1.open span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
/******** PARTCILES JS **********************************************************/
#particles-js{
	background-color: #232323;
	width:100%;
	height: 100%;
	border-radius: 7px;
	max-height: 100%;
	min-height: calc(40vw + 200px);
}
.ptcjs .carousel-caption {
	margin-bottom: 1vw;
	height:40vw;
	max-height: 100vw;
	min-height: 5vw;
	position: absolute;
	top: 0;
}
.particles-js-canvas-el {
	height: 100%;
	position: absolute;
	top: 0;
}
/******** Sign up newsletter **********************************************************/
.nwsltr {
	background-color: #E5E7E9;
}
.nwsltr .nwstitle{
	font-weight: bold;
	font-family: Quicksand;
}
.nwsltr .btn {
	font-style: italic;
	font-size: 0.9vw;
}
.nwsltr h1 {
	color:#273746;
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 1.0vw;
	word-spacing: 2.0vw;
}
/******** Our Projects **********************************************************/
.proj .projtitle {
	color: #232323;
	font-size: 30px;
	font-weight: bold;
	font-family: Quicksand;
}
.projtitle div {
	border: solid 1px var(--bee-black);
	letter-spacing: 1.0vw;
	border-radius: 7px;
	word-spacing: 2.0vw;
}
.projects p {
	color: #232323;
	font-size: 1.1vw;
	font-weight: bold;
	font-family: monospace;
	padding: 1% 7%;
	line-height: 4.1vw;
}
#ourproj {
	background-color: transparent;
}
/******** Our Approach **********************************************************/
.appr2 .apprtitle {
	color: var(--bee-black);
	font-size: 30px;
	font-weight: bold;
	font-family: Quicksand;
	padding: 5%;
}
.appr2 .apprtitle div {
	border: solid 1px var(--bee-black);
	border-radius: 7px;
	letter-spacing: 1.0vw;
	word-spacing: 2.0vw;
}
.appr2 p {
	color: var(--bee-black);
	font-size: 1.1vw;
	font-weight: bold;
	font-family: monospace;
	padding: 1% 7%;
	line-height: 4.1vw;
}
.appr2 img {
	background-color: transparent;
	border-radius: 1rem;
}
.appr2 label {
	color: var(--bee-black);
}
/******** MEET THE TEAM **********************************************************/
.meettheteam .meet {
	font-size: 30px;
	font-weight: bold;
	font-family: Quicksand;
	padding: 5%;
}
.meettheteam .meet div {
	border: solid 1px var(--bee-black);
	border-radius: 7px;
	letter-spacing: 1.0vw;
	word-spacing: 2.0vw;
}
.team .card {
	padding: 25px;
	background-color: transparent;
	border: none;
}
.team .card-title {
	color: var(--bee-black);
	font-family: 'Bebas Neue', cursive;
	margin: 17px;
	font-size: 2vw;
	letter-spacing: 5px;
}
.team .card-text {
	color: var(--bee-black);
	font-family: monospace;
	margin: 17px;
	font-size: 1.2vw;
}
.team .card-body i {
	color: var(--bee-black);
	padding: 10px;
	-webkit-transition: color, padding 0.3s;
	transition: color, padding 0.3s;
}
.team img {
	padding: 0px !important;
	border-radius: 0px;
	border: none;
	width:170px;
	height:170px;
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}
.team .card-body a:hover {
	color: transparent;
}
.team .card-body i:hover {
	background-color: transparent;
	color: #f69e00;
	transition: 0.5s;
	box-shadow: 0 0 var(--bee-yellow) !important;
	padding:0;
	margin:0;
}
/******** FOOTER **********************************************************/
footer {
	background-color: blanchedalmond;
	border-radius: 7px;
}
.rowfooter{
	margin: 0px 0px !important;
}
.rowfooter p {
	color: var(--bee-black);
	font-size: 18px;
	font-family: Quicksand;
}
.rowfooter .smed a {
	color:transparent;
}
.rowfooter a i{
	font-size: 50px;
	color: var(--bee-black);
	padding: 10px;
	-webkit-transition: font-size 0.3s;
	transition: font-size 0.3s;
}
.rowfooter img {
	width: 3vw;
	height: 3vw;
}
.rowfooter .fab:hover {
	color: var(--bee-yellow);;
	font-size: 47px;
	align-items: center;
}
/******** FOOTER **********************************************************/
/******** Contact Us Page *************************************************/
form label,textarea,input {
	color: #ededed;
	font-family: Quicksand;
	font-weight: 500;
}
form .subbtn .btn-light{
	background-color: var(--bee-black);;
	color: var(--bee-yellow);
	font-family: Quicksand;
	font-weight: 500;
	border:none;
	outline:none;
}
form .subbtn .btn-light:hover > i {
	animation: rotation 1s infinite linear;
}
@keyframes rotation {
	from {
		transform:translate(-30px);
	}
	to {
		transform:translate(0);
	}
}
iframe {
	border-radius: 7px;
}
/*---Media Queries --*/
@media (max-width: 1200px) {
	/*
	.scroll {
		scroll-snap-type: none;
		overflow-y: scroll;
		max-height: none;
	  
	  }
	.sc {
		scroll-snap-align: none;
		height: auto;
	  }
	*/
	.nwsltr h1 {
		font-size: 3vw;
	}
	.nwsltr .btn {
		font-size: 1.5vw;
	}
	.proj .projtitle div {
		font-size: 3vw;
	}
	.proj .projects p{
		font-size: 2vw;
	}
	.appr2 .apprtitle {
		font-size: 3vw;
	}
	.appr2 .apprs p {
		font-size: 2vw;
	}
	.meettheteam .meet {
		font-size: 3vw;
	}
	.team .card-title {
		margin: 17px;
		font-size: 2.5vw;
	}
	.team .card-text {
		margin: 17px;
		font-size: 1.5vw;
	}
	.rowfooter img {
		width: 6vw;
		height: 6vw;
	}
	#particles-js{
		max-height: 110vw;
		min-height: calc(40vw);
	}
	.ptcjs .carousel-caption {
		margin-bottom:2vw;
	}
}
@media (max-width: 992px) {
	.team .card-title {
		font-size: 3.7vw;
	}
	.team .card-text {
		font-size: 2.0vw;
	}
	#particles-js{
		max-height: 110vw;
		min-height: calc(40vw + 50px);
	}
}
@media (max-width: 768px) {
	.carousel-caption h3 {
		font-size: 30px;
	}
	.carousel-item a,.carousel-item a:hover,.carousel-item a:active,.carousel-item a:focus {
		width: 40%;
	}
	.navbar-brand {
		font-size: 18px;
	}
	#particles-js{
		max-height: 110vw;
		min-height: calc(57vw);
	}
	.particles-js-canvas-el {
		min-height: 57vw;
		opacity: 0.5;
	}
	.rowfooter img {
		width: 10vw;
		height: 10vw;
	}
}
@media (max-width: 576px) {
	.nwsltr .btn {
		font-size: 2vw;
	}
	.team img {
		width:120px;
		height:120px;
	}
	#particles-js{
		max-height: 110vw;
		min-height: 97vw;
	}
	.particles-js-canvas-el {
		min-height: 97vw;
		opacity: 0.5;
	}
}
@media (max-width: 414px) {
	.landing h1,h3{
        font-size: 4.5vw;
        line-height: 1.5;
	}
	.landing h3{
		font-size: 2.5vw;
	}
	.landing .btn {
		font-size: 3vw;
		padding: 5px 10px;
	}
	.nwsltr h1 {
		font-size: 3.4vw;
	}
	.proj .projects p{
		font-size: 3vw;
		line-height: 7vw;
	}
	.appr2 .apprtitle {
		font-size: 3.4vw;
	}
	.appr2 .apprs p {
		font-size: 3vw;
		line-height: 7vw;
	}
	.meettheteam .meet {
		font-size: 3.4vw;
	}
	.team .card-title {
		margin: 17px;
		font-size: 5vw;
	}
	.team .card-text {
		margin: 17px;
		font-size: 2.5vw;
	}
	.team img {
		width:120px;
		height:120px;
	}
	.team .row .col-lg-6 {
		padding-right: 7%;
		padding-left: 7%;
	}
	#particles-js{
		max-height: 110vw;
		min-height: 100vw;
	}
	.particles-js-canvas-el {
		min-height: 110vw;
		opacity: 0.5;
	}
	#intro {
	background-size: 80% 100%;
	background-position: 0%;
	}
}
@media (max-width: 322px) {
    .landing h1,h3{
        font-size: 4.2vw;
	}
	.landing h3{
		font-size: 3.5vw;
    }
    .landing .btn {
		font-size: 3.3vw;
		padding: 5px 10px;
	}
	.nwsltr h1 {
		font-size: 4vw;
	}
	.proj .projects p {
		font-size: 4vw;
		line-height: 20px;
	}
	.appr2 .apprs p {
		font-size: 4vw;
		line-height: 20px;
	}
	.team .row .col-lg-6 {
		padding-right: 7%;
		padding-left: 7%;
	}
	.team .card-title {
		font-size: 4.7vw;
	}
	.team .card-text {
		font-size: 3vw;
	}
	#particles-js{
		max-height: 110vw;
		min-height: 120vw;
	}
}
/*---Firefox Bug Fix --*/
.carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
	position: relative;
	width: 100%;
	height: 60%;
	margin: 0!important;
}
.fixed-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fixed {
	background-image: url('img/mac.png');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
	
}
/*Extra small (xs) devices (portrait phones, less than 576px)No media query since this is the default in BootstrapSmall (sm) devices (landscape phones, 576px and up)@media (min-width: 576px) {
	...
}
Medium (md) devices (tablets, 768px and up)@media (min-width: 768px) {
	...
}
Large (lg) devices (desktops, 992px and up)@media (min-width: 992px) {
	...
}
Extra (xl) large devices (large desktops, 1200px and up)@media (min-width: 1200px) {
	...
}
*/
#dot-nav{
	position: fixed;    
	left: 15px;
	top: 55vh;
	height: 100px;
	z-index: 999;
}

#dot-nav ul {
	list-style: none;
	margin:0;
	padding: 0;
}
#dot-nav li {
	position: relative;
    background-color: var(--bee-black); 
    color: var(--bee-black); 
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
	padding: 5px;
	height: 10px;
	margin: 10px 10px 0px 0px;
	width: 10px;
	vertical-align:bottom;
}
#dot-nav li.active, #dot-nav li:hover {
	background-color: var(--bee-yellow);
}

#dot-nav a {
	outline: 0;
	vertical-align:top;
	padding: 0px 0px 0px 25px;
	position: relative;
	top:-5px;
}
.awesome-tooltip + .tooltip > .tooltip-inner {
    /*background-color: #8e44ad;*/ 
    color: var(--bee-black); 
    border: 1px solid #8e44ad; 
}
.awesome-tooltip + .tooltip.left > .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #8e44ad;
}



