/*
THIS FILE IS USED TO RESET THE STYLE EVERY TIME THE INDEX.HTML FILE IS LOADED FROM THE BROWSER.
ALSO, THIS STYLE IS A TRADEMARK FOR THE BEE TECHNOLOGIES COMPANY LTD. WEBSITE
RESET STYLE CSS
*/

html, body span, object, iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address, cite, code, 
del, dfn, em, img, ins, kbd, q ,samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr ,th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0px;
    padding:0px;
    border:0px;
    outline:0px;
    font-size:0px;
    vertical-align:baseline;
    background:transparent;
}

body{
    line-height: 1;
    background-color: black;
    color: white;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*change color depends on what you need*/

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid #cccccc;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/*MY STYLE WILL BE CODE HERE*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

* {
    text-decoration: none;
}

/*
body {
    background-image:url('background-gif.gif');
    background-size:cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}
*/

/*Testing dynamic background*/

html {
    background-color: white;
    height:200vh;
    margin:10;
}

body{
    background-color:#252525;
    -webkit-transition:background-color 0.2s ease-in-out;-moz-transition:background-color 0.2s ease-in-out;-o-transition:background-color 0.2s ease-in-out;-ms-transition:background-color 0.2s ease-in-out;transition:background-color 0.2s ease-in-out;
    margin:0;
    height: 100%;
}

body #container{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 200%;
}




/*--------------------------------------------------------------------------*/



body .btext {
	position: absolute;
    text-align: center;

}

body .btext header {
    height: fit-content;
    width: calc(100vw - 38px);
    background-color: #F69E00;
    float: left;
    position: fixed;
    z-index: 1;
    margin: 10px;
}

body .btext header a{
    float: left;
    padding: 20px 10px 20px 10px;
}

body .btext header ul {
    float: left;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

body .btext header ul li {

    display: inline-block;

}

body .btext header ul li a {

    font-size: 20px;
    font-family: Quicksand;
    font-weight: 600;
    color: black;

}

body .btext header .nav-button {
    padding-top: 35px;
    padding-right: 35px;
    float: right;
}

footer p {
    color: white;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 400;
    text-align: center;

}

body h1 {
    color: white;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    line-height: 2;

}

body #video {
    text-align: center;
}

body .test-sec1 {
    height: 75vh;
    width: 75%;
    background-color: #cccccc;
    color: black;
    box-sizing: border-box;
    position: relative;
    left: calc(25% /2);
    top: 105px;

}
body .test-sec1 p {
    padding: 35px;
    color: black;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

body .test-sec2 {
    height: 75vh;
    width: 75%;
    background-color: #cccccc;
    box-sizing: border-box;
    position: relative;
    left: calc(25% /2);
    top: 105px;
}

body .test-sec2 p {
    padding: 35px;
    color: black;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

footer {
    height: 25vh;
    width: calc(100% - 22px);
    background-color: #F69E00;
    box-sizing: border-box;
    position: absolute;
    bottom: calc(-100vh);
    margin: 12px;

}

footer p {
    padding: 35px;
    color: black;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}


@media(max-width: 787px){
    header ul li a {display:none;};
}

@media(min-width: 787px){
    header .nav-bar .company-logo{font-size: 6px;}
    header { size: 50%;}
}

.side-nav {
    height:100%;
    width: 0;
    position:fixed;
    z-index:1;
    top:0;
    right:0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a{
    position: relative;
    top: 30px;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color:yellow;
}

.side-nav .btn-close {
    position:absolute;
    top:0;
    left:0px;
    font-size:36px;
    margin-right:50px;
}