<!doctype html>
<html lang="en">
    <head>
        <!--Open Graph-->
        <meta property="og:image" content="https://www.beetech.dev/smarthouse.jpg" />
        <meta property="og:title" content="Vietnamese Smart Home For The People" />
        <meta property="og:url" content="https://www.beetech.dev/" />
        <meta property="og:description" content="We bring smart home security and convenience at an affordable price." />
        <meta property="og:type" content="website" />
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- GOOGLE RECAPTCHAV3 -->
        <script src="https://www.google.com/recaptcha/api.js?render=6Lcn4d4UAAAAANBX_1T66cTXjsTLbxEnJA4kK4tQ
        "></script>

        <!--ADD TITLE ICON-->
        <!--FAVICON-->
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
        <link rel="mask-icon" href="safari-pinned-tab.svg" color="#f69e00">
        <link rel="shortcut icon" href="favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <!-- ADD Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700" rel="stylesheet">
        <!-- ADD FontAWESOME -->
        <script src="https://kit.fontawesome.com/32904476b7.js" crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="font-awesome-animation.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="js/toggler.js"></script>
        <script src="js/carousel.js"></script>
        <link rel="stylesheet" href="style-bs4.css">
        <title> Bee Technologies - Contact Us </title>
    </head>

    <body>
    <!--Scroll to Top Button-->
        <button onclick="topFunction()" class="btn btn-light" id="scrtopbtn" title="Go to top"><i class="fas fa-chevron-up rounded-circle" style="font-size: large;"></i></button>
    <!-- Navigation -->
        <nav class="navbar navbar-expand-xl navbar-light bg-light main-nav">
            <a class="navbar-brand" href="./"><img src="android-chrome-384x384.png" alt="logo" width="50" height="50" class="imgclass" style="margin-right: 5%;">
                BEE TECHNOLOGIES &#169
            </a>

            <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-icon1"><span></span><span></span><span></span></div>
            </button>
            
            <div class="collapse navbar-collapse ml-5" id="navbarNav">
                <ul class="navbar-nav nav-left">
                  <li class="nav-item noactive">
                    <a class="nav-link" href="./">HOME <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item noactive">
                    <a class="nav-link" href="./#ourproj">PROJECTS</a>
                  </li>
                  <li class="nav-item noactive">
                    <a class="nav-link" href="./#ourappr">APPROACH</a>
                  </li>
                  <li class="nav-item noactive">
                    <a class="nav-link" href="./#meetteam">ABOUT US</a>
                  </li>
                </ul>
                <div class="mrt ml-auto">
                    <ul class="navbar-nav nav-right">
                        <li class="nav-item noactive">
                            <a class="nav-link" href="./login">SIGN IN</a>
                        </li>   
                        <li class="nav-item active">
                            <a class="nav-link" href="./contact">CONTACT</a>
                          </li>     
                    </ul>
                </div>
              </div>
        </nav>

    <!--- Contact Us -->
        <div class="container-fluid onepage m-0 p-0">
            <div id="particles-js"></div>
        </div>
        <div class="projappr">
            <section class="appr2 d-flex flex-column align-self-center">
                <div class="container-fluid">
                    <div class="row text-center apprtitle p-3">
                        <div class="col-12 mt-auto mb-auto py-2 pb-3" style="border:0;"><i class="far fa-envelope faa-bounce animated-hover fa-2x faa-float animated"></i> CONTACT US</div>
                    </div>
                </div>
                <div class="container">
                    <div class="row text-start mb-5">
                        <form method="POST" class="col container p-3" action="/contact" id="contactForm">
                            <div class="form-row mx-auto my-3">
                                <div class="col">
                                    <label>First name</label>
                                    <input name="firstname" type="text" class="form-control" id="FirstnameID" placeholder="First Name" required>
                                </div>
                                <div class="col">
                                    <label>Last name</label>
                                    <input name="lastname" type="text" class="form-control" id="LastnameID" placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="form-row mx-auto my-3">
                                <div class="col">
                                    <label>Email</label>
                                    <input name="email" type="email" id="EmailID" class="form-control" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-row mx-auto my-3">
                                <div class="col">
                                    <label>Subject</label>
                                    <input name="subject" type="text" id="SubjectID" class="form-control" placeholder="Subject" required>
                                </div>
                            </div>

                            <div class="form-row mx-auto my-3">
                                <div class="col">
                                    <label>Your Message</label>
                                    <textarea name="message" rows="5" class="form-control" id="MessageID" placeholder="Your Message" required></textarea>
                                </div>
                            </div>
                            
                            <div class="form-row mx-auto my-3">
                                <div class="col">
                                    <!-- ADD RECAPTCHA-->
                                    <div class="g-recaptcha" data-sitekey="6Lcn4d4UAAAAANBX_1T66cTXjsTLbxEnJA4kK4tQ"></div>
                                </div>
                            </div>

                            <div class="form-row subbtn">
                                <div class="container-fluid" style="padding:0;">
                                    <div class="col" style="padding: 0 10px;">
                                        <button class="btn btn-light form-control" type="submit"><i class="fas fa-paper-plane"></i> Submit form</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-6 mx-auto p-3">
                            <iframe class="mx-auto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86094.90246577501!2d-122.22117123831912!3d47.59763363339335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906bcfa3a66041%3A0xbacf5482ead00765!2sBellevue%2C%20WA!5e0!3m2!1sen!2sus!4v1579739653694!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 100%;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </section>
        </div>
 
    <!--- Footer -->
        <footer class="sticky-bottom">
            <div class="row container-fluid text-center rowfooter py-3">
                <div class="col-md-4 smed align-self-center">
                    <a class="col-md-3" href="#">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a class="col-md-3" href="#">
                        <i class="fab fa-youtube-square"></i>
                    </a>
                    <a class="col-md-3" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
                <div class="col-md-4 justify-content-center align-self-center">
                    <p class="col-md copy m-0">Bee Technologies &#169 2020. <br> All Rights Reserved.</p>
                </div>
                <div class="col-md-4 justify-content-center align-self-center ftlogo py-3">
                    <a class="" href="#">
                        <img src="android-chrome-384x384.png" class="imgclassfooter rounded-circle fa-2x faa-spin animated-hover">
                    </a>
                </div>
            </div>
        </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!--For Particles Effect JS-->
    <script src="js/particles.js"></script>
    <script src="js/appptc.js"></script>
    <!---------------------------------------------------------------->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/bootstrap-swipe-carousel.min.js"></script>
    <script src="js/scrolltop.js"></script>
    <script src="js/bordernav.js"></script>
    
    <!--RECAPTCHA-->
    <script>
document.getElementById('contactForm').addEventListener('submit', onSubmit);

    function onSubmit(e) {
        e.preventDefault();
        grecaptcha.ready(function() {
        grecaptcha
            .execute('6Lcn4d4UAAAAANBX_1T66cTXjsTLbxEnJA4kK4tQ', { action: 'homepage' })
            .then(function(token) {
                // This data is not being used in the back end (Only the token), but have it here for you to experiment
                const firstname = document.querySelector('#FirstnameID').value;
                const lastname = document.querySelector('#LastnameID').value;
                const email = document.querySelector('#EmailID').value;
                const subject = document.querySelector('#SubjectID').value;
                const message = document.querySelector('#MessageID').value;
                const captcha = token;

                urls = ['/contact','/verifyCap'];
                Promise.all(urls.map(async url =>
                    await fetch(url){
                    method: 'POST',
                    // headers: {
                    //     Accept: 'application/json, text/plain, */*',
                    //     'Content-Type': 'application/json'
                    // },
                    body: JSON.stringify({
                        firstname: firstname,
                        lastname: lastname,
                        email: email,
                        message: message,
                        captcha: captcha
                    })
                }
                ))                    
                .then(res => res.text())
                .then(data => {
                    console.log(data);
                })

                // await fetch('/contact', {
                //     method: 'POST',
                //     body: JSON.stringify({
                //         firstname: firstname,
                //         lastname: lastname,
                //         email: email,
                //         subject: subject,
                //         message: message,
                //         captcha: captcha
                //     })
                //     .then(res => res.text())
                //     .then(data => {
                //         console.log(data);
                //     })
                // });
            });
        });
        }
    </script>
  </body>
</html>

