<!doctype html>
<html lang="en">
    <head>
        <!--Open Graph-->
        <meta property="og:image" content="https://www.beetech.dev/smarthouse.jpg" />
        <meta property="og:title" content="Vietnamese Smart Home For The People" />
        <meta property="og:url" content="https://www.beetech.dev/" />
        <meta property="og:description" content="We bring smart home security and convenience at an affordable price." />
        <meta property="og:type" content="website" />
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--ADD TITLE ICON-->
        <!--FAVICON-->
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
        <link rel="mask-icon" href="safari-pinned-tab.svg" color="#f69e00">
        <link rel="shortcut icon" href="favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <!-- ADD Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700" rel="stylesheet">
        <!-- ADD FontAWESOME -->
        <script src="https://kit.fontawesome.com/32904476b7.js" crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="font-awesome-animation.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="js/toggler.js"></script>
        <script src="js/carousel.js"></script>
        <link rel="stylesheet" href="style-bs4.css">
        <title> Bee Technologies - Contact Us </title>
    </head>

    <body>
    <!--Scroll to Top Button-->
        <button onclick="topFunction()" class="btn btn-light" id="scrtopbtn" title="Go to top"><i class="fas fa-chevron-up rounded-circle" style="font-size: large;"></i></button>
    <!-- Navigation -->
        <nav class="navbar navbar-expand-xl navbar-light bg-light main-nav">
            <a class="navbar-brand" href="./"><img src="android-chrome-384x384.png" alt="logo" width="50" height="50" class="imgclass" style="margin-right: 5%;">
                BEE TECHNOLOGIES &#169
            </a>

            <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-icon1"><span></span><span></span><span></span></div>
            </button>
            
            <div class="collapse navbar-collapse ml-5" id="navbarNav">
                <ul class="navbar-nav nav-left">
                  <li class="nav-item noactive">
                    <a class="nav-link" href="./">HOME <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item noactive">
                    <a class="nav-link" href="./#ourproj">PROJECTS</a>
                  </li>
                  <li class="nav-item noactive">
                    <a class="nav-link" href="./#ourappr">APPROACH</a>
                  </li>
                  <li class="nav-item noactive">
                    <a class="nav-link" href="./#meetteam">ABOUT US</a>
                  </li>
                </ul>
                <div class="mrt ml-auto">
                    <ul class="navbar-nav nav-right">
                        <li class="nav-item active">
                            <a class="nav-link" href="./login">SIGN IN</a>
                        </li>   
                        <li class="nav-item noactive">
                            <a class="nav-link" href="./contact">CONTACT</a>
                          </li>     
                    </ul>
                </div>
              </div>
        </nav>

    <!--- Contact Us -->
        <div class="container-fluid onepage m-0 p-0">
        <div id="particles-js"></div>
        </div>
        <div class="projappr">
            <section class="appr2 d-flex flex-column align-self-center">
                <div class="container-fluid">
                    <div class="row text-center apprtitle p-3">
                        <div class="col-12 mt-auto mb-auto py-2 pb-3" style="border:0;"><i class="fas fa-user-plus faa-bounce animated-hover fa-2x faa-float animated"></i> REGISTER</div>
                    </div>
                </div>
                <div class="container" id="form1">
                    <div class="row text-start mb-5">
                        <form method="POST" class="col container p-3" action="/register">
                            <div class="form-row mx-5 px-auto my-3 d-flex justify-content-center">
                                <div class="col-md-6 px-3 py-0 my-0 mx-auto alert alert-danger" style="border: none !important; min-height: 0px !important;">
                                    <% if (messages.error) { %>
                                        <%= messages.error %>
                                    <% } %>
                                    <% if(success_msg != '') { %>
                                        <%= success_msg %>
                                    <% } %>
                                    <% if(error_msg != '') { %>
                                        <%= error_msg %>
                                    <% } %>
                                </div>
                            </div>
                            <div class="form-row mx-5 px-auto my-3 d-flex justify-content-center">
                                <div class="col-md-6 px-0">
                                    <label>First name</label>
                                    <input name="firstname" type="text" class="form-control" id="FirstnameID" placeholder="First Name" required>
                                    <label>Last name</label>
                                    <input name="lastname" type="text" class="form-control" id="LastnameID" placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="form-row mx-5 px-auto my-3 d-flex justify-content-center">
                                <div class="col-md-6 px-0">
                                    <label>Email</label>
                                    <input name="email" type="email" id="email" class="form-control" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-row mx-5 px-auto my-3 d-flex justify-content-center subbtn">
                                <div class="col-md-6 px-0">
                                    <label>Password (At least one number, one lowercase and uppercase letter)</label>
                                    <input type="password" name="password" id="password" class="form-control" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Your Password" required>
                                </div>
                            </div>
                            <div class="form-row mx-5 px-auto my-3 d-flex justify-content-center subbtn">
                                <div class="col-md-6 px-0">
                                    <label>Confirm your password</label>
                                    <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm Password" required>
                                </div>
                            </div>

                            <div class="form-row mx-5 px-auto my-3 d-flex justify-content-center subbtn">
                                    <div class="col-md-6 px-0">
                                        <button class="btn btn-light form-control" type="submit"><i class="fas fa-user-plus"></i> SIGN UP</button>
                                    </div>
                            </div>
                            <!--
                            <div class="form-row subbtn my-3">
                                <div class="container-fluid" style="padding:0;">
                                    <div class="col-md-6" style="padding: 0 10px;">
                                        <div class="g-recaptcha" data-sitekey="6LcAjtkUAAAAAIa4xS2jfKasc2NRBQEOZTJ8O926"></div>
                                    </div>
                                </div>
                            </div>
                            -->
                            <div class="form-row mx-5 px-auto my-3 d-flex justify-content-center subbtn">
                                <div class="col-md-6 px-0 text-center" style="text-transform: uppercase; color: var(--bee-orange)">
                                Already have an account?
                                </div>
                            </div>
                            <div class="form-row mx-5 px-auto my-3 d-flex justify-content-center subbtn">
                                <div class="col-md-6 px-0">
                                        <a class="btn btn-light form-control" href="./login"><i class="fas fa-sign-in-alt"></i> LOGIN</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!--For Particles Effect JS-->
    <script src="js/particles.js"></script>
    <script src="js/appptc.js"></script>
    <!---------------------------------------------------------------->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/bootstrap-swipe-carousel.min.js"></script>
    <script src="js/scrolltop.js"></script>
    <script src="js/bordernav.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </body>
</html>


