<!doctype html>
<html lang="en">
    <head>
        <!--Open Graph-->
        <meta property="og:image" content="https://www.beetech.dev/smarthouse.jpg" />
        <meta property="og:title" content="Vietnamese Smart Home For The People" />
        <meta property="og:url" content="https://www.beetech.dev/" />
        <meta property="og:description" content="We bring smart home security and convenience at an affordable price." />
        <meta property="og:type" content="website" />
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--ADD TITLE ICON-->
        <!--FAVICON-->
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">
        <link rel="mask-icon" href="safari-pinned-tab.svg" color="#f69e00">
        <link rel="shortcut icon" href="favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <!-- ADD Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700" rel="stylesheet">
        <!-- ADD FontAWESOME -->
        <script src="https://kit.fontawesome.com/32904476b7.js" crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="font-awesome-animation.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="js/toggler.js"></script>
        <script src="js/carousel.js"></script>
        <link rel="stylesheet" href="style-bs4.css">
        <title> Bee Technologies - Contact Us </title>
    </head>

    <body>
    <!--Scroll to Top Button-->
        <button onclick="topFunction()" class="btn btn-light" id="scrtopbtn" title="Go to top"><i class="fas fa-chevron-up rounded-circle" style="font-size: large;"></i></button>
    <!-- Navigation -->
        <nav class="navbar navbar-expand-xl navbar-light bg-light main-nav">
            <a class="navbar-brand" href="./"><img src="android-chrome-384x384.png" alt="logo" width="50" height="50" class="imgclass" style="margin-right: 5%;">
                BEE TECHNOLOGIES &#169
            </a>

            <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-icon1"><span></span><span></span><span></span></div>
            </button>
            
            <div class="collapse navbar-collapse ml-5" id="navbarNav">
                <ul class="navbar-nav nav-left">
                  <li class="nav-item noactive">
                    <a class="nav-link" href="./">HOME <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item noactive">
                    <a class="nav-link" href="./#ourproj">PROJECTS</a>
                  </li>
                  <li class="nav-item noactive">
                    <a class="nav-link" href="./#ourappr">APPROACH</a>
                  </li>
                  <li class="nav-item noactive">
                    <a class="nav-link" href="./l#meetteam">ABOUT US</a>
                  </li>
                </ul>
                <div class="mrt ml-auto">
                    <ul class="navbar-nav nav-right">
                        <li class="nav-item noactive">
                            <a class="nav-link" href="./contact">CONTACT</a>
                        </li>  
                        <li class="nav-item noactive">
                            <h2 class="col" style="font-family: Quicksand; color:var(--bee-orange)">Hi, <%= name %></h2>
                        </li>
                        <li class="nav-item noactive">
                            <div class="row text-start">
                                <form class="col container" action="/logout?_method=DELETE" method="POST">
                                    <div class="form-row subbtn pt-1">

                                            <div class="col">
                                                <button class="btn btn-light form-control" type="submit"><i class="fas fa-sign-out-alt"></i>   LOGOUT</button>
                                            </div>

                                    </div>
                                </form>
                            </div>
                        </li>   
                    </ul>
                </div>
              </div>
        </nav>

    <!--- Contact Us -->
        <div class="container-fluid onepage m-0 p-0">
            <div id="particles-js"></div>
        </div>
        <div class="projappr">
        <section class="appr2 d-flex flex-column align-self-center">
            <div class="container-fluid">
                <div class="row text-center apprtitle p-3">
                    <div class="col-12 mt-auto mb-auto py-2 pb-3 display-3" style="border:0;">
                        <!-- <i class="fas fa-chalkboard-teacher fa-2x faa-float animated-hover"></i> -->
                        USER DASHBOARD
                    </div>
                </div>
            </div>

            <div class="container-fluid p-3">
                <div class="row text-center p-4">
                    <h1 class="col-lg-12 p-2" style="font-family: Quicksand; color:var(--bee-orange);"><mark>Battery</mark></h1>
                </div>
                <div class="row text-center p-3">

                        <iframe class="col-sm-4" src="http://192.168.1.217:3000/d-solo/Ikd4JvLVk/bac-home-solar-system?orgId=1&refresh=5s&panelId=15" width="500" height="300" frameborder="0"></iframe>


                        <iframe class="col-sm-4" src="http://192.168.1.217:3000/d-solo/Ikd4JvLVk/bac-home-solar-system?orgId=1&refresh=5s&panelId=17" width="500" height="300" frameborder="0"></iframe>

                        <iframe class="col-sm-4" src="http://192.168.1.217:3000/d-solo/Ikd4JvLVk/bac-home-solar-system?orgId=1&refresh=5s&panelId=13" width="500" height="300" frameborder="0"></iframe>

                </div>

                <div class="row text-center p-3">

                    <iframe class="col-md-4" src="http://192.168.1.217:3000/d-solo/Ikd4JvLVk/bac-home-solar-system?orgId=1&refresh=5s&panelId=9" width="450" height="300" frameborder="0"></iframe>


                    <iframe class="col-md-4" src="http://192.168.1.217:3000/d-solo/Ikd4JvLVk/bac-home-solar-system?orgId=1&refresh=5s&panelId=27" width="450" height="300" frameborder="0"></iframe>

                    <iframe class="col-md-4" src="http://192.168.1.217:3000/d-solo/Ikd4JvLVk/bac-home-solar-system?orgId=1&refresh=5s&panelId=11" width="450" height="300" frameborder="0"></iframe>

                </div>

                <div class="row text-center p-4">
                    <h1 class="col-lg-12 p-2" style="font-family: Quicksand; color:black; background-color: var(--bee-orange);">Solar</h1>
                </div>
                <div class="row text-center p-3">

                    <iframe class="col-md-4" src="http://192.168.1.217:3000/d-solo/Ikd4JvLVk/bac-home-solar-system?orgId=1&refresh=5s&panelId=9" width="450" height="300" frameborder="0"></iframe>


                    <iframe class="col-md-4" src="http://192.168.1.217:3000/d-solo/Ikd4JvLVk/bac-home-solar-system?orgId=1&refresh=5s&panelId=27" width="450" height="300" frameborder="0"></iframe>

                    <iframe class="col-md-4" src="http://192.168.1.217:3000/d-solo/Ikd4JvLVk/bac-home-solar-system?orgId=1&&refresh=5s&panelId=11" width="450" height="300" frameborder="0"></iframe>

                </div>
                <div class="row text-center p-4">
                    <h1 class="col-lg-12 p-2" style="font-family: Quicksand; color:black; background-color: var(--bee-orange);">Grid</h1>
                </div>
                <div class="row text-center p-3">

                    <iframe class="col-md-4" src="http://192.168.1.217:3000/d-solo/Ikd4JvLVk/bac-home-solar-system?orgId=1&refresh=5s&panelId=5" width="450" height="300" frameborder="0"></iframe>


                    <iframe class="col-md-4" src="http://192.168.1.217:3000/d-solo/Ikd4JvLVk/bac-home-solar-system?orgId=1&refresh=5s&panelId=25" width="450" height="300" frameborder="0"></iframe>

                    <iframe class="col-md-4" src="http://192.168.1.217:3000/d-solo/Ikd4JvLVk/bac-home-solar-system?orgId=1&refresh=5s&panelId=33" width="450" height="300" frameborder="0"></iframe>

                </div>

                
            </div>




        </section>
        </div>
 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!--For Particles Effect JS-->
    <script src="js/particles.js"></script>
    <script src="js/appptc.js"></script>
    <!---------------------------------------------------------------->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/bootstrap-swipe-carousel.min.js"></script>
    <script src="js/scrolltop.js"></script>
    <script src="js/bordernav.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </body>
</html>


